{% extends "base.html"%} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/login_styles.css')}}"
/>
{% endblock%} {% block title %}Login{% endblock%} {% block content%}
<div class="parent">
  <div class="login-container">
    <div class="header">
      <img
        src="{{url_for('static', filename='images/login_back_circle.png')}}"
        alt="login image"
      />
    </div>
    <form id="loginForm" action="#">
      <input type="email" id="email" placeholder="Email" />
      <input type="password" id="password" placeholder="Password" />
      <a href="/sign-up" id="sign_up">Sign Up</a>
      <button type="submit">Login</button>
    </form>
  </div>
  <div class="signup-container" style="display: none">
    <div class="header">
      <img
        src="{{url_for('static', filename='images/login_back_circle.png')}}"
        alt="login image"
      />
    </div>
    <form id="signupForm" action="#">
      <input type="text" id="name" placeholder="Name" />
      <input type="email" id="email" placeholder="Email" />
      <input type="password" id="password" placeholder="Password" />
      <input
        type="password"
        id="confirm-password"
        placeholder="Confirm Password"
      />
      <input type="text" id="phone" placeholder="Phone Number" />
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>
<script src="{{url_for('static', filename='js/register.js')}}" />
{% endblock %}
