{% extends "base.html"%} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/login_styles.css')}}"
/>
{% endblock%} {% block title %}Login{% endblock%} {% block content%}
<div class="parent">
  <div class="login-container">
    <div class="header">
      <img
        src="{{url_for('static', filename='images/login_back_circle.png')}}"
        alt="login image"
      />
    </div>
    <form id="loginForm" method="POST">
      <input type="email" id="email" name="email" placeholder="Email" />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <button type="submit">Login</button>
      <center>
        <span>Don't have an account? </span
        ><a href="/sign-up" id="signup-link" style="display: inline-block"
          >Sign Up</a
        >
      </center>
    </form>
  </div>
</div>
{% endblock %}
